@import "../../node_modules/bootstrap/scss/bootstrap";

.custom-btn {
    background-color: #3d3d3d;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}